resources:
- deployment.yaml
- service.yaml
- route.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- digest: sha256:063ad9f040ec7fec2887caf7006b377a0b82cd0756ca8406e4629695039e5450
  name: quay.io/burrsutter/quinoa-wind-turbine
- digest: sha256:446d069c57e05fa94b4b67342a2e185c69e7cfb32eecab1440aff44ba0b91719
  name: quay.io/rhdevelopers/quinoa-wind-turbine
