resources:
- deployment.yaml
- service.yaml
- route.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- digest: sha256:063ad9f040ec7fec2887caf7006b377a0b82cd0756ca8406e4629695039e5450
  name: quay.io/burrsutter/quinoa-wind-turbine
- digest: sha256:426fcda03bf3609e21c2c7da6ba448129c6a79accfa451166c6a981ea82b0d8d
  name: quay.io/rhdevelopers/quinoa-wind-turbine
